Package: com.skyning.skycharts
Name: SkyCharts
Version: 0.13.1
Architecture: iphoneos-arm
Description: Offline LIDO chart and interactive airport map viewer for legacy iPads running iOS 6.
Maintainer: skyning
Author: skyning
Section: Applications
Replaces: com.skyning.atlassix
Conflicts: com.skyning.atlassix
Provides: com.skyning.atlassix
